/*
 * TBoard
 * Copyright 2013 (C) Ralph Thomas, Palo Alto, CA
 */
body {
    font-size: 38px;
    font-family: sans-serif;
    margin: 0;
    overflow: hidden;
}
.home,.respawn {
    display: inline-block;
    width: 64px;
    height: 64px;
    margin: 2px;
    border-bottom: 1px solid #e0e0e0;
    vertical-align: middle;
    background-color: rgba(0, 0, 0, 0.05);
}
.respawn { margin: 8px; }
.letter {
    position: absolute;
    left: 0; top: 0;
    width: 64px; height: 64px;
    line-height: 54px;
    border: 1px solid #e0e0e0;
    text-align: center;
    background-color: white;
}

/*
 * Give the body a "board" class to get the standard tboard layout.
 * We would normally use box layout here, but it doesn't work well on iOS 5 or 6,
 * so just use absolute positioning.
 */
body.board {
    word-spacing: 20px;
}
.board ul {
    list-style-type: none;
    padding: 0;
    margin: 12px;
}
.board .respawners {
    box-sizing: border-box;
    width: 100%;
    height: 100px;
    padding: 8px 0;
    text-align: center;
    border-bottom: 2px solid black;
}
.board .center {
    top: 100px;
    bottom: 164px;
    width: 100%;
    position: absolute;
}
.board .center>div {
    position: absolute;
    width: 50%; top: 0; bottom: 0;
}
.board .center>.left {
    border-right: 2px solid black;
}
.board .center>.right {
    right: 0;
}
.board .sentences, .board .bottom {
    box-sizing: border-box;
    position: absolute;
    bottom: 0px; width: 100%;
    border-top: 2px solid black;
    padding: 12px 42px;
}
.board .sentences ol { margin: 0; }

.correct { color: green; }
.duplicate { color: orange; }

@-webkit-keyframes wave {
    0% { -webkit-transform: translateY(0); }
    30% { -webkit-transform: translateY(-20px); }
    100% { -webkit-transform: translateY(0); }
}

.screen {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    -webkit-transform-origin: 0 0;
    -webkit-transition: -webkit-transform 750ms, opacity 500ms;
}

.launcher-item {
    text-align: center;
    box-sizing: border-box;
    display: inline-block;
    width: 25%; height: 25%;
    border: 2px solid black;
}

.back-button {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 60px;
    line-height: 100px;
    height: 100px;
    width: 100px;
    padding-left: 10px;
    color: #808080;
}
